@font-face {
  font-family: 'Regalia Monarch';
  src: url('./regaliamonarch.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Regalia Monarch', serif;
  letter-spacing: 2px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Light Theme */
.theme-light {
    background-color: #f8f9fa;
    color: #121212;
}

.theme-light .navbar {
    background-color: #0d6efd !important;
}

.theme-light .navbar .nav-link,
.theme-light .navbar .navbar-brand {
    color: white !important;
}

/* Dark Theme */
.theme-dark {
    background-color: #121212;
    color: #f8f9fa;
}

.theme-dark .navbar {
    background-color: #1f1f1f !important;
}

.theme-dark .navbar .nav-link,
.theme-dark .navbar .navbar-brand {
    color: #f8f9fa !important;
}

/* Blue Theme */
.theme-blue {
    background-color: #e0f2ff;
    color: #002b5b;
}

.theme-blue .navbar {
    background-color: blue !important;
}

.theme-blue .navbar .nav-link,
.theme-blue .navbar .navbar-brand {
    color: #ffffff !important;
}

/* Green Theme */
.theme-green {
    background-color: #eafaf1;
    color: #14532d;
}

.theme-green .navbar {
    background-color: #198754 !important;
}

.theme-green .navbar .nav-link,
.theme-green .navbar .navbar-brand {
    color: #ffffff !important;
}

/* Nested Dropdown */
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    display: none;
    position: absolute;
}

.dropdown-submenu:hover .dropdown-menu {
    display: block;
}